@use 'variaveis';

.trailer {
    max-width: 1024px;
    width: 100%;
    min-height: 50vh;
    margin: 0 auto;
    padding: 8px 0;

    @media (max-width: 768px) {
        max-width: 768px;
        width: 90%;
    }

    @media (min-width: 769px) and (max-width: 1023px) {
        max-width: 1023px;
        width: 90%;
    }

    h2 {
        text-align: center;
        color: variaveis.$corSecundaria;
        margin-bottom: 24px;
    }

    &__container-video {
        display: flex;
        justify-content: center;

        .video {
            border-radius: 8px;
        }
    }
}